@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kaushan+Script&family=Racing+Sans+One&display=swap'); /* Delsocora fonts*/
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
! Don't import all the CSS from the previous project.
? Lean on Tailwind to do the heavy lifting.
*/



@layer base {
	html {
		font-family: 'NUNITO', sans-serif;
		font-weight: regular;
		font-size: 1rem;
		margin: 0px;
		padding: 0px;
	}
	::-webkit-scrollbar {
		width: 10px;
		border-radius: 100vh;
	}
	
	/* Track */
	::-webkit-scrollbar-track {
		background: #1b355e;
		border-radius: 100vh;
	}
	::-webkit-scrollbar-thumb {
		background: #1b355e;
		border-radius: 100vh;
		border: 2px solid #3b73ce;
	}

	::-webkit-scrollbar-thumb:hover {
		background-color: #1b355e;
	}
}
